
:root {
    --dev-border: red;
    --nav-button-height: 35px;
    --nav-button-border-colour: black;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    height: var(--nav-button-height);
    border: 1px solid var(--nav-button-border-colour, black);
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

footer {
    border: 1px solid var(--dev-border);
}
